USE [master]
GO
/****** Object:  Database [AwingDB]    Script Date: 8/16/2025 5:14:02 AM ******/
CREATE DATABASE [AwingDB];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AwingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AwingDB]
GO
USE [AwingDB]
GO
/****** Object:  Table [dbo].[PuzzleMap]    Script Date: 8/16/2025 5:14:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuzzleMap](
	[Id] [uniqueidentifier] NOT NULL,
	[Row] [int] NOT NULL,
	[Columnn] [int] NOT NULL,
	[MaxTarget] [int] NOT NULL,
	[Matrix] [nvarchar](max) NOT NULL,
	[Result] [float] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__PuzzleMa__3214EC0754867C3C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PuzzleMap] ADD  CONSTRAINT [DF__PuzzleMap__Id__29572725]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[PuzzleMap] ADD  CONSTRAINT [DF__PuzzleMap__Creat__2A4B4B5E]  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
